{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Registration</title>
    {% endif %}

    {% block styles %}
        <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static 'css/instabar.css' %}">
        <link rel="stylesheet" href="{% static "assets/fonts/font-awesome.min.css" %}">
        <link rel="stylesheet" href="{% static 'assets/css/registration.css'%}">
        <link rel="shortcut icon" href="https://imgur.com/bDmHyV7.png" type="image/x-icon">
    {% endblock %}
</head>
<body>
    {% include "base/navhome.html" %}
    {% block content %}
    {% endblock %}

    {% block scripts %}
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>
    {% endblock %}
</body> 
</html>